-- README: you must copy this file and name it 'secrets.lua', and then fill all the values on that copy of the file.
-- Don't directly modify this file!

-- Database
-- NOTE: sqlFile is used only by sqlite database, and sqlKeepAlive by mysql database.
-- To disable sqlKeepAlive such as mysqlReadTimeout use 0 value.

-- MySQL
mysqlHost = ""
mysqlUser = ""
mysqlPass = ""
mysqlDatabase = ""
mysqlPort = 3306
mysqlSock = ""